
:root {
  --primary: #27292e;
  --secondary: #dbdde2;
  --tertiary: #1a1b1d;
}

body {
  font-family: 'HelveticaWorld';
  background-color: var(--tertiary);
  color: var(--secondary);
}

.navbar {
  background-color: var(--tertiary);
}

div.container.things {
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  border-radius: 5px;
  margin: auto;
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 10px;
  align-items: flex-end;
}

div.row.things {
  background-color: var(--primary);
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
  margin: auto;
}

ul.list-group.list-group-flush {
  padding: 10px;
  border: 1px solid var(--secondary);
  border-radius: 3px;
  align-items: stretch;
}

li.list-group-item {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 5px;
  border: 1px solid var(--secondary);
}

.addpin {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 15px;
  padding-right: 10px;
}

div.row.stuff {
  justify-content: space-between;
  background-color: var(--primary);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  margin: auto;
  border-radius: 15px;
}

.addpin.active, .addpin:focus {
  background-color:var(--secondary);
  color: var(--primary);
}

a.addpin {
  font-style: oblique;
  font-weight: 600;
}

.addpin:hover {
  background-color:var(--secondary);
  color: var(--primary);
}

h1.display-3 {
  color: var(--secondary);
  text-shadow: 0.5px 0.5px 5px rgb(245, 248, 252);
}

.lead {
  text-shadow: 0.5px 0.5px 3px rgb(245, 248, 252);
}

hr {
  margin: 5px;
}

.btn-outline-secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.btn-outline-secondary:hover {
  background-color: var(--secondary);
  color: var(--primary);
  border-color: var(--secondary);
}

div.toolbar.btn-group {
  justify-self: flex-start;
  padding: 10px;
  padding-bottom: 5px;
  padding-left: 0px;
}

.title {
  padding: 10px;
  padding-bottom: 0px;
  text-align: right;
  font-weight: 100;
  font-size: 26px;
  font-style: oblique;
  color: var(--secondary);
  text-shadow: 0.5px 0.5px 5px rgb(245, 248, 252);
}



div.viewerbox.col-12.col-lg-3 {
  text-align: end;
  border-radius: 2px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
}

div.viewerbox.col-12.col-lg-9 {
  padding-right: 10px;
  padding-left: 10px;
}

a.nav-link.active {
  color: aliceblue;
}

.react-transform-component {
  width: unset !important;
  height: unset !important;
  border: 1px solid var(--secondary);
  border-radius: 2px;
}


.react-transform-element {
  width: unset !important;
  height: unset !important;
  border-radius: 2px;
}

img {
  max-width:  100%;
  max-height: 100%;
  border-radius: 2px;
}

.homepage-jumbotron {
  padding: 5px;
  background-color: var(--primary);
}